<ul>
    <li><a href="{{ path('home') }}">Home</a></li>
    <li><a href="{{ path('contact') }}">Contact</a></li>
    <li><a href="{{ path('common') }}">Common</a></li>
    <li><a href="{{ path('pkn') }}">Pokemon</a></li>
</ul>